  <% if user_signed_in? %>
    <div class="signed_in">
      <p style="color:#555; line-height:16px; margin:0px;">Signed in as <%= current_user.email %></p>
    </div>
  <% end %>
<div class="container_inner">
<%= link_to "Back", :back %>
<h2>New Project</h2>
<%= render "form" %>
</div>
