<div class="container_inner">
  <% if user_signed_in? %>
    <div class="signed_in">
      <p style="color:#555; line-height:16px; margin:0px;"><%= t "application.signed_in_as" %> <%= current_user.email %></p>
    </div>
  <% end %>

<%= link_to "Back", @object %>
<h2>Edit Link</h2>
<%= render "form" %>
</div>
